html{
  padding: 0;
  margin: 0;
}
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-size: 100%;
}
header img{
  margin-left: 20px;
  margin-top: 20px;
  width: 80px;
  height: auto;
}
header nav{
  margin-top: -60px;
  margin-right: 80px;
}
header nav ul{
  float: right;
}
header nav ul li{
  display: inline;
}
header nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.middle-header{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.middle-header p{
  font-size: 20px;
  font-style: italic;
}
/*main section*/
main{
 margin-top: 650px;
 width: 80%;
 margin-left:auto;
 margin-right:auto;
 border: 2px solid black;
 text-align: center;
}
.moi h2{
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  margin-bottom: -20px
}
.moi img{
  float: left;
  width: 300px;
  height: auto
}
.details p{
  font-size: 35px;
  margin-bottom: 20px;
}
span a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}
.recent-work h2{
  margin-top: 80px;
  text-align: center;
  font-size: 40px;
  margin-bottom: -20px
}
.recent-work{
  margin-bottom: 250px;
}
.recent-work .card{
  margin-left: 30px;
  float: left;
}
.recent-work .card h2 {
  margin-bottom: 10px;
  font-size: 20px;
}
.card{
  box-shadow: 4px 4px 8px 0 rgba(256, 256, 256, 0.2), 0 6px 20px 0 rgba(256, 256, 256, 0.19);
}
.card a button{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.card p{
  font-size: 15px;
  font-weight: lighter;
}
