html{
  padding: 0;
  margin: 0;
}
body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  background-image: url("../images/bg.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-size: 100%;
}
header img{
  margin-left: 20px;
  margin-top: 20px;
  width: 80px;
  height: auto;
}
header nav{
  margin-top: -60px;
  margin-right: 80px;
}
header nav ul{
  float: right;
}
header nav ul li{
  display: inline;
}
header nav ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.middle-header{
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 28px;
}
.middle-header p{
  font-size: 20px;
  font-style: italic;
}
/*main section*/
main{
 margin-top: 650px;
 width: 80%;
 margin-left:auto;
 margin-right:auto;
 border: 2px solid black;
 text-align: center;
}
.moi h2{
  margin-top: 50px;
  text-align: left;
  font-size: 40px;
  margin-bottom: -20px
}
